.container {
  display: flexbox;

  width: 250px;
  height: 100px;

  background-color: aquamarine;
  ;
}

.contant{
    display: flex;
    justify-content: space-between;
}

.footer {
 display: end;
  width: 250px;
  height: 50px;

  background-color: blue;
}
