@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");

.cardAgua {
  padding: 20px;
  width: 200px;
  height: 100px;
  display: grid;
  grid-template-rows: 0px 30px 1fr 50px;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
  background: radial-gradient(rgba(246, 234, 65, 0.6), rgba(240, 72, 198, 0.9));
  font-family: "Poiret One", cursive;
  font-size: large;
}

.cardEnergia {
  padding: 20px;
  width: 200px;
  height: 100px;
  display: grid;
  grid-template-rows: 0px 30px 1fr 50px;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
  background: radial-gradient(
    rgba(118, 178, 254, 0.6),
    rgba(182, 158, 254, 0.9)
  );
  font-family: "Poiret One", cursive;
  font-size: large;
}

.cardCondominio {
  padding: 20px;
  width: 200px;
  height: 100px;
  display: grid;
  grid-template-rows: 0px 30px 1fr 50px;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
  background: radial-gradient(rgba(96, 239, 188, 0.6), rgba(88, 213, 201, 0.9));
  font-family: "Poiret One", cursive;
  font-size: large;
}

.cardInternet {
  padding: 20px;
  width: 200px;
  height: 100px;
  display: grid;
  grid-template-rows: 0px 30px 1fr 50px;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
  background: radial-gradient(rgba(230, 87, 88, 0.6), rgba(119, 29, 50, 0.9));
  font-family: "Poiret One", cursive;
  font-size: large;
}

.cardGas {
  padding: 20px;
  width: 200px;
  height: 100px;
  display: grid;
  grid-template-rows: 0px 30px 1fr 50px;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
  background: radial-gradient(rgba(237, 118, 94, 0.6), rgba(254, 168, 88, 0.9));
  font-family: "Poiret One", cursive;
  font-size: large;
}

.cardAgua:hover {
  background: radial-gradient(rgba(246, 234, 65, 1), rgba(240, 72, 198, 1));

  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.01);
}

.cardEnergia:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.01);
  background: radial-gradient(rgba(118, 178, 254, 1), rgba(182, 158, 254, 1));
}

.cardCondominio:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.01);
  background: radial-gradient(rgba(96, 239, 188, 0.6), rgba(88, 213, 201, 0.9));
}

.cardInternet:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.01);
  background: radial-gradient(rgba(230, 87, 88, 1), rgba(119, 29, 50, 1));
}

.cardGas:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.01);
  background: radial-gradient(rgba(237, 118, 94, 1), rgba(254, 168, 88, 1));
}

.card__title {
  margin-top: 2%;

  grid-row: 1/4;
  font-weight: 600;
  color: #ffffff;

  font-size: 25px;
}

.icon {
  margin-left: 10%;
}

.card__apply {
  margin-top: 10%;

  grid-row: 4/4;
  align-self: center;
  color: #ffffff;

  font-weight: 600;
  font-size: 25px;
}

/* RESPONSIVE */

@media (max-width: 1600px) {
  .cards {
    justify-content: center;
  }
}
