@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");

.Card {
  padding: 20px;
  width: 200px;
  height: 300px;
  display: grid;
  grid-template-rows: 0px 30px 1fr 50px;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
  background-image: linear-gradient(
    to top,
    rgba(207, 217, 223, 0.6) 10%,
    rgba(226, 235, 240, 0.6) 90%
  );
  font-family: "Poiret One", cursive;
  font-size: large;
}

.Input {
  width: 170px;
  height: 50px;

  text-align: center;
  font-family: "Poiret One", cursive;
  font-size: large;
  font-size: 30px;
  font-weight: 500;

  margin-top: 20px;
  color: #000000;

  border: none;

  background-color: black
}

.Table {
  margin-top: 100px;
  align-items: center;
  justify-content: center;

  width: 200px;
  height: 200px;

  font-size: 60px;
}

/* .td {
    width: 20px;
    height: 20px;
}

.tr {
    width: 20px;
    height: 20px;
} */

.button {
  display: flex;

  width: 60px;
  height: 60px;

  font-size: 40px;
  align-items: center;
  justify-content: center;
  text-align: center;

  font-weight: 600;
  color: #000000;

  background-color: rgba(255, 255, 255, 0);
  border: none;
}

.button :hover {
  cursor: pointer;
}

.button :active {
  color: #ffffff;
}
